body {
    background-image: linear-gradient(45.34deg, #0066FF 5.66%, #EA52F8 94.35%);
    height: 100%;
}

.container {
    background-color: black;
    padding: 100px;
    border-radius: 25px;
    width: 50%;
}

img {
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
}

.loginbutton {
    padding: 10px;
    width: 300px;
    margin-top: 20px;
    color: white;
    border-radius: 10px;
    border: none;
    background-color: #EA52F8;
}

h1,
h5,
label {
    color: white;
}

hr {
    color: #ffffff;
    height: 8px;
}